<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="main_div" id="main_div">
        <div class="date_div">
            <div class="cur_date">
                <p class="d">{{date.getDay()}}</p>
                <div class="in_cur_date">
                    <p class="m">{{['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль','Август','Сентабрь','Ноябрь','Декабрь',''][date.getDay()]}}</p>
                    <p class="y">{{date.getFullYear()}}</p>
                </div>
            </div>
            <p class="weekday">{{['ВС', 'ПН', 'ВТ', 'СР', 'ЧТ', 'ПТ', 'СБ'][date.getDay()]}}</p>
        </div>
        <div class="list">
            <task @task_done="action(index)" :data="data" v-for="(data,index) in tasks" :key="index"></task>
            <!--
            <div class="cur_case">
                <p class="cur_case_p  done_c">Купить свитер</p>
                <img class="done" src="img/add.png">
            </div>
            <div class="cur_case">
                <p class="cur_case_p  done_c">Начать рекламную фазу</p>
                <img class="done" src="img/add.png">
            </div>
            <div class="cur_case">
                <p class="cur_case_p">Посмотреть шерлока</p>
                <img class="done" src="img/empty.png">
            </div>
            <div class="cur_case">
                <p class="cur_case_p">Погулять</p>
                <img class="done" src="img/empty.png">
            </div>
            -->
        </div>
        <a class="add_btn" v-bind:class="{invert:isActive}" @click="show_input()"><img class="add_btn_img" src="img/add_plus.png"></a>
    <div class="form" v-if='seen'>
        <input class = "input" type="text" v-model="new_task.title">
        <button class="btn" @click="add_task()">ОК</button>
    </div>
    </div>

    <script src="script.js"></script>
</body>
</html>